body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 3rem;
}

span{
    color: orange;
}
p{
    color: gray;
}
section{
    height:500px;
}
#top-section{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.half-with{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 70px;
}

.half-with img{
    width: 100%;
}

h2{
    font-size: 2.2rem;
}
#second-section{
    background-image: url("Images/dream-bg.png"); 
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 150px;
}

#experiences{
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 150px;
}

.experiences-section{  
    box-shadow: 0px 0px 20px 0px gray;
    height: 70%;
}

#experiences-half-section1{
    border-left: 7px solid ;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}
#experiences-half-section2{    
    border-left: 7px solid ;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}
.footer-section{
    text-align: center;
}